<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo socket io</title>
    <script src="jquery-3.6.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000")
        $(document).ready(function(){
            
        });
    </script>
</head>
<body>
    <h1></h1>
</body>
</html>