<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo socket io</title>
    <script src="jquery-3.6.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000")
        // lắng nghe server trả về dữ liệu
        socket.on("Server-send-data",function(data){
            $("#noi-dung").append(data);
        })
        $(document).ready(function(){
            // client gửi dữ liệu lên server
            $("#mr-A").click(function(){
                socket.emit("Client-send-data",'hello')
            })
        });
    </script>
</head>
<body>
    <div id="mr-A">send data</div>
    <h2 id="noi-dung"></h2>
</body>
</html>